<p>
  <a href="{{ "/contact.html" | relative_url }}" target="_blank">Contact us</a><br>
  <a href="{{ "/about.html" | relative_url }}" target="_blank">About OLIB.CN </a><br>
  <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44030702004589" target="_blank"><img src="\assets\images\home\beian_logo.png" style="float:left;"/> 粤公网安备 44030702004589号 </a><br>
  <a href="https://beian.miit.gov.cn" target="_blank">粤ICP备2022015957号-1 </a><br>
  &copy; {{ site.time | date: '%Y' }}.<a href="{{ "/copyright.html" | relative_url }}" target="_blank">OLIB.CN</a><br>
</p>
